@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../components/core/rich-text/index.scss";
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;700&family=Poppins&display=swap');

//font sizes
h1 {
    @apply font-heading font-bold text-4xl leading-tight;

    @screen md {
        @apply text-5xl leading-tight;
    }
}

h2 {
    @apply font-heading font-bold text-xl leading-tight;

    @screen md {
        @apply text-2xl leading-tight;
    }
}

h3 {
    @apply font-heading font-bold text-lg leading-tight;

    @screen md {
        @apply text-xl leading-tight;
    }
}

h4 {
    @apply font-heading font-bold text-base leading-tight;

    @screen md {
        @apply text-lg leading-tight;
    }
}

p {
    @apply font-body;
    white-space: pre-line;
}

//details
details {
    user-select: none;

    summary {
        position: relative;
        cursor: pointer;
        list-style: none;
        outline: none;

        &::-webkit-details-marker {
            display: none;
        }

        &::marker {
            display: none;
        }

        &:after {
            position: absolute;
            transition: transform 0.2s ease;
            top: 50%;
            right: 0;
            content: '';
            background: url(../public/icons/arrow-down-black.svg);
            width: 14px;
            height: 7px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

}

details[open] {
    user-select: none;

    summary {
        position: relative;
        cursor: pointer;
        list-style: none;

        &::-webkit-details-marker {
            display: none;
        }

        &::marker {
            display: none;
        }

        &:after {
            position: absolute;
            transition: transform 0.2s ease;
            right: 0;
            top: 50%;
            background: url(../public/icons/arrow-down-black.svg);
            width: 14px;
            height: 7px;
            background-repeat: no-repeat;
            background-size: cover;
            transform: rotate(180deg);
        }
    }
}

.react-pdf__Document {
    height: 100% !important;
    // overflow-y: scroll;
    overflow: hidden;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 100% !important;
    height: 100% !important;
}